<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Criar Projeto</title>
  <link rel="stylesheet" href="{% static 'css/projetos_form.css' %}">
  <style>
    .mes-campo {
      display: none;
    }

    select#id_codigo_produto {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: white;
      }
  </style>
</head>
<body>
  <h1>Criar Projeto</h1>

  <form method="post">
    {% csrf_token %}
    <p>
      <label for="id_nome_projeto">Projeto / Atividade</label>
      {{ form.nome_projeto }}
    </p>

    <p>
      <label for="id_justificativa">Objetivo / Justificativa</label>
      {{ form.justificativa }}
    </p>

    <p>
      <label for="id_nome_projeto">Tipo de Conta</label>
      {{ form.tipo_conta }}
    </p>
    <p>
      <label for="id_codigo_produto">Conta Contábil (para DGA)</label>
      {{ form.codigo_produto }}
    </p>

    <h3>Gastos Mensais</h3>

    {% for field in form %}
      {% if field.name not in campos_excluir %}
        <div>
          <button type="button" class="mes-toggle" data-mes="{{ field.name }}">➕ {{ field.label }}</button>
          <div class="mes-campo" id="campo-{{ field.name }}">
            {{ field }}
          </div>
        </div>
      {% endif %}
    {% endfor %}

    <p>
      <label for="id_e_recorrente">É Recorrente?</label>
      {{ form.e_recorrente }}
    </p>

    <p>
      <label for="id_obrigacao_legal">Obrigação Legal?</label>
      {{ form.obrigacao_legal }}
    </p>

    <p style="margin-top: 20px; font-weight: bold;">
      <label for="id_valor_total">Total:</label>
      {{ form.valor_total }}
    </p>

    <br>
    <button type="submit">Salvar</button>
  </form>

  <script>

    document.querySelectorAll('input[type="number"], input[inputmode="decimal"]').forEach(input => {
      input.addEventListener('change', calcularTotal);
    });

    function calcularTotal() {
      let total = 0;
      document.querySelectorAll('input[inputmode="decimal"]').forEach(input => {
        if (input.value) {
          total += parseFloat(input.value) || 0;
        }
      });
      document.getElementById('id_valor_total').value = total.toFixed(2);
    }

    document.querySelectorAll('.mes-toggle').forEach(btn => {
      btn.addEventListener('click', () => {
        const mes = btn.dataset.mes;
        const campo = document.getElementById(`campo-${mes}`);
        const aberto = campo.style.display === 'block';
        campo.style.display = aberto ? 'none' : 'block';
        btn.textContent = (aberto ? '➕ ' : '➖ ') + btn.textContent.slice(2);
      });
    });
  </script>
</body>
</html>


